/**
 * css 通用类，放置一些通过封装类，基础变量
 */

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments
box-shadow()
	-webkit-border-radius arguments
	-moz-box-shadow arguments
	box-shadow arguments